@import '../../../index.scss';

.portfolio_preview {
  text-align: center;
  .card-deck {
    margin-top: 20px;
    margin-bottom: 8px;
    .card {
      color: black;
      text-align: left;
      .image_container {
        height: 180px;
        overflow: hidden;
        width: 100%;
        position: relative;
        .image_overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
          background: rgba(0, 0, 0, 0.05);
        }
      }
      .card-body {
        .card-subtitle {
          color: #888;
          font-size: 0.9rem;
        }
        .card-text {
          margin-top: 15px;
          margin-bottom: 0;
        }
        .row {
          margin-top: 5px;
        }
        .tech_row {
          margin-top: 15px;
          text-align: center;
        }
      }
    }
  }
}
