.portfolio_preview {
  text-align: center;
  .card-deck {
    margin-top: 20px;
    margin-bottom: 8px;
    .card {
      text-align: left;
      .card-text {
        margin-top: 15px;
        .tech_row {
          margin-top: 15px;
        }
      }
    }
  }
}
