@import '../../../index.scss';

.footer {
  background-color: $lightGrey;
  margin-top: 50px;
  .row {
    padding-bottom: 13px;
    padding-top: 13px;
    .second-col {
      text-align: right;
      .social-icon {
        margin-left: 15px;
        width: 25px;
        &#linkedin {
          margin-bottom: 3px;
          width: 23px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    .row {
      text-align: center;
      .second-col {
        margin-top: 10px;
        text-align: inherit;
      }
    }
  }
}
