@import 'index.scss';

.contact {
  text-align: center;
  padding-bottom: 50px;
  .contact_form {
    margin-top: 15px;
    text-align: left;
    width: 100%;
    .form-control {
      background: $lightGrey;
      border: none;
      // border-bottom: 1px solid white;
      // border-radius: 0;
      color: black;
      &:focus {
        outline: none;
      }
    }
    #message {
      // border: 1px solid white;
      height: 210px;
      resize: none;
    }
  }
  .button_div {
    text-align: right;
    .submit_button {
      border-color: $primaryBlue;
      color: $primaryBlue;
      &:hover {
        background-color: $primaryBlue;
        color: white;
      }
      &.loading {
        padding-bottom: 5px;
        padding-top: 11px;
      }
    }
  }
}
