.blog_preview {
  .card {
    a {
      color: black;
    }
    .card-subtitle {
      color: #999;
      font-size: 0.95rem;
      font-weight: 300;
    }
    .card-text {
      margin-top: 15px;
      margin-bottom: 5px;
    }
    .ellipsis {
      margin-bottom: 5px;
    }
  }
}
