.jumbo {
  color: white;
  text-align: center;
  .jumbotron {
    background: url(../../../img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0;
    padding-top: 256px;
    padding-bottom: 192px;
    .social_icons {
      img {
        height: 30px;
        margin-left: 15px;
        margin-right: 15px;
        &.linkedin {
          height: 27px;
          margin-bottom: 3px;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
