@import 'index.scss';

.blog {
  .second {
    margin-top: 0;
    .card {
      background-color: $lightGrey;
      color: black;
      a {
        color: black;
      }
      .card-subtitle {
        color: #747474;
        font-size: 0.95rem;
        font-weight: 300;
      }
      .card-text {
        margin-top: 15px;
        margin-bottom: 5px;
      }
      .ellipsis {
        margin-bottom: 5px;
      }
    }
  }
}

@media (max-width: 768px) {
  .blog {
    text-align: center;
    .second {
      margin-top: 35px;
      .card {
        text-align: left;
      }
    }
  }
}
