@import 'index.scss';

.about {
  .copy_col {
    margin-top: 38px;
  }
  .profile_image {
    border: 4px solid $primaryBlue;
    border-radius: 30%;
    float: right;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .about {
    text-align: center;
    .profile_col {
      text-align: center;
      .profile_image {
        float: initial;
        margin-top: 30px;
      }
    }
  }
}
