@import 'index.scss';

.resume_preview {
  text-align: right;
  .copy_col {
    margin-top: 15px;
  }
  .buttons_col {
    .btn-group-vertical {
      width: 100%;
      .btn {
        border: 0;
        border-radius: 0;
        border-right: 1px solid $primaryBlue;
        color: $primaryBlue;
        &:hover {
          background-color: inherit;
          color: $primaryBlue;
        }
        // &:focus {
        //   outline: none !important;
        // }
        &.active {
          background-color: $primaryBlue;
          &:hover {
            background-color: $primaryBlue;
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .resume_preview {
    text-align: center;
    .copy_col {
      margin-bottom: 20px;
    }
    .buttons_col {
      margin-bottom: 30px;
      .btn-group-vertical {
        .btn {
          border-right: 0;
        }
      }
    }
  }
}
