.resume_preview {
  text-align: right;
  .buttons_col {
    .btn-group-vertical {
      width: 100%;
      .btn {
        border: 0;
        border-radius: 0;
        border-right: 1px solid #0070ff;
        &:hover {
          background-color: inherit;
          color: #0070ff;
        }
        // &:focus {
        //   outline: none !important;
        // }
        &.active {
          &:hover {
            background-color: #0070ff;
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .resume_preview {
    text-align: center;
    .copy_col {
      margin-bottom: 20px;
    }
    .buttons_col {
      margin-bottom: 30px;
      .btn-group-vertical {
        .btn {
          border-right: 0;
        }
      }
    }
  }
}
