@import 'index.scss';

.contact_preview {
  text-align: center;
  padding-bottom: 50px;
  .contact_form {
    margin-top: 15px;
    text-align: left;
    width: 100%;
    #message {
      height: 210px;
      resize: none;
    }
  }
  .button_div {
    text-align: right;
    .submit_button {
      border-color: $primaryBlue;
      color: $primaryBlue;
      &:hover {
        background-color: $primaryBlue;
        color: white;
      }
      &.loading {
        padding-bottom: 5px;
        padding-top: 11px;
      }
    }
  }
}
