$lightGrey: #ebedf0;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.section {
  padding-top: 75px;
  padding-bottom: 75px;
  &.grey-bg {
    background-color: $lightGrey;
  }
}

.section_button {
  margin-top: 20px;
}

.card .btn.btn-link {
  color: inherit;
  font-weight: 700;
  padding-left: 0;
}
