$lightGrey: #ebedf0;
$primaryDarkGrey: #2d2d2d;
$secondaryDarkGrey: #424242;
$primaryBlue: #28a9ff;
$errorRed: #f04444;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.section {
  background-color: $secondaryDarkGrey;
  color: white;
  padding-top: 75px;
  padding-bottom: 75px;
  &.grey-bg {
    background-color: $primaryDarkGrey;
  }
}

.section_button {
  border-color: $primaryBlue !important;
  color: $primaryBlue !important;
  margin-top: 20px;
  &:hover {
    background-color: $primaryBlue !important;
    color: white !important;
  }
}

.card .btn.btn-link {
  color: inherit;
  font-weight: 700;
  padding: 0;
  svg {
    margin-left: 3px;
  }
}
