@import '../../../index.scss';

.flash_message.alert {
  text-align: center;
  background-color: $primaryDarkGrey;
  border: none;
  border-radius: 0;
  color: white;
  margin-bottom: 0;
  .alert-link {
    color: $primaryBlue;
  }
  .close {
    &:hover,
    &:focus {
      color: white;
      outline: none;
    }
  }
}
